#macro(mainLayout)
<html>
<head>
    <title>$msg.get("COMMON_TITLE")</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
    <nav>
        <a href="/"><img id="logo" src="/img/logotest.png" alt="Certificate Management"></a>
        <ul id="chooseLanguage">
            <form>
                <li>
                    <button name="locale" value="en" style="background-image: url(/img/english.png);"></button>
                </li>
                <li>
                    <button name="locale" value="de" style="background-image: url(/img/vietnam.png);"></button>
                </li>
            </form>
        </ul>
        <ul id="menu">
            <li><a href="$WebPath.getCRL_MANAGEMENT()">$msg.get("COMMON_NAV_CRL_MANAGER")</a></li>
            <li><a href="$WebPath.getREGISTRATION()">$msg.get("COMMON_NAV_REGISTER")</a></li>
            #if($currentUser)
                <li>
                    <form method="post" action="$WebPath.getLOGOUT()">
                        <button id="logout">$msg.get("COMMON_NAV_LOGOUT")</button>
                    </form>
                </li>
            #else
                <li><a href="$WebPath.getLOGIN()">$msg.get("COMMON_NAV_LOGIN")</a></li>
            #end
        </ul>
    </nav>
</header>
<main>
    <div id="content">
        $bodyContent
    </div>
</main>
<footer>
    <a href="$WebPath.getCRL_DOWNLOAD()">$msg.get("CERTIFICATE_REVOCATION_DOWNLOAD")</a>
</footer>
</body>
</html>
#end
